* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body { background-color: #161B22; }

label {display: none;}

.success {
    width: 600px;
    color: #bed8ff;
    background-color: #2e3948;
    padding: 10px;
    font-weight: bold;
}

.error {
    width: 600px;
    color: #ffbebe;
    background-color: #482e2e;
    padding: 10px;
    font-weight: bold;
}

.login-alert-mensaje {
    width: 600px;
    background-color: #2e3948;
    padding: 10px;
    font-weight: bold;
    color: white;
}
.login-alert-mensaje p {margin: 0; padding: 0;}
.login-alert-mensaje a, .login-alert-mensaje a:visited {color: #bed8ff;}



.escribir-mensaje-Cont { 
    display: flex; 
    flex-direction: row; 
    width: 600px; 
    border: 1px solid #2d3746;
}
.escribir-mensaje-Enviar { 
    background-color: #21262D; 
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    width: 100px;
    transition: 0.3s;
}
.escribir-mensaje-Enviar:hover {
    background-color: #4c607c;
    cursor: pointer;
} 
.escribir-mensaje-cuerpo {
    font-size: 18px;
    padding: 15px 10px;
    height: fit-content;
    width: -webkit-fill-available; 
    background-color: transparent;
    color:#d4d4d4; 
    border:none;
    resize: none;
}
.escribir-mensaje-cuerpo:focus-visible {
    outline: none;
}

.mensajes-Cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.mensaje-Cont {
    display: flex;
    flex-direction: row;
    background-color: #161B22;
    color: white;
    width: 600px;
    border: 1px solid #2d3746;
    transition: 0.3s;
}
.mensaje-Cont:hover { background-color: #262f3b;}

.mensaje-userPic { margin: 10px; }
.mensaje-userPic img {
    width: 50px;
    border: 1px solid transparent;
    border-radius: 100%;
}

.mensaje-cabecera {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mensaje-cabecera p { margin-right: 5px; }
.mensaje-nombreUsuario { font-weight: bold;}
.mensaje-categoriaTema {
    background-color: rgb(190, 190, 190);
    border-radius: 8px;
    padding: 5px;
    margin: 2px;
    color: #4f5b6b;
}
.mensaje-detalle {
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
}

.subtitulo { color: #a8a9aa; }