form div{
    display: flex;
    flex-direction: column;
}
form div label{
    margin:10px;
}
textarea {
    width: 300px;
    height: 100px;
    resize: none;
}
form div label div {
    display:flex;
    flex-direction: row;
}